.footer__links {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}
@media screen and (max-width: 730px) {
  .footer__links {
    flex-direction: column;
    justify-content: start;
    gap: 32px;
    margin-bottom: 48px;
  }
}
